.letters-view {
    display: flex;
    text-align: center;  
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
    background: rgba(155, 207, 155, 0.1);
    margin: 30px;
    min-width: 840px;
}

.letters-view-div {         
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: gray;
    font-size: 5px;
    text-align: right;
}

.button-x {
    border-radius: 30px;
    font-size: 16px;
    color: white;
    width: 35px;
    height: 35px;  
}

