.letter {  
    display: flex;
    justify-content: center;

    font-size: 50px;
    font-weight: 900;
    color:white;   
    margin: 5px;
    width: 40px;
    height: 50px;  
    padding-top: 5px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
    background-color: #f79901;
    background-image: linear-gradient(0deg, #f79901 75%, #f5f240 100%);   
 
    border-radius: 13px;
    border-width: 3px;
    border-style: solid;
    border-color: #ff5100;

    text-shadow: black 0.1em 0.1em 0.2em;

    cursor: pointer;
}

.letter-activate {  
    background-color:rgb(194, 27, 5); 
    background-image: linear-gradient(0deg, #f70101 75%, #f5f240 105%); 
}