.word {
  display: flex;
  width: 310px;
  height: 75px;
  margin: 5px;
  background: white;
  color: #f70101;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
}

.label {
  display: flex;
  text-align: center;  
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.word h1 {
  font-size: 20px;
  color: #f70101;
  opacity: 0.2;
}

.letter-word {
  font-weight: 600;
  font-size: 50px;
}

.word-valid {
  color: rgba(2, 88, 2, 1);
}

.word-valid h1 {
  color: rgba(2, 88, 2, 1);
  opacity: 0.5;
}

